<h1 class="visually-hidden">Shop</h1>

<app-header-navigation kind="header" variant="home"></app-header-navigation>

<app-template-utilities kind="rbt-preloader" variant="product-list"></app-template-utilities>

<app-side-navigation kind="mobile" variant="product-list"></app-side-navigation>

<app-side-navigation kind="categories" variant="product-list"></app-side-navigation>

<app-side-cart kind="cart" variant="product-list"></app-side-cart>

<app-side-navigation kind="special-offers" variant="product-list"></app-side-navigation>

<app-template-overlays kind="recent-viewModal" variant="product-list"></app-template-overlays>

<div class="rbt-breadcrumb-two rbt-bg-color-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="rbt-breadcrumb-inner text-left">
                    <ul class="rbt-breadcrumb-page-list justify-content-start mt--0">
                        <li class="rbt-breadcrumb-item"><a href="index.html">Home</a></li>
                        <li>
                            <div class="icon-right"><i class="fa-solid fa-chevron-right"></i></div>
                        </li>
                        <li class="rbt-breadcrumb-item"><a href="#">Pages</a></li>
                        <li>
                            <div class="icon-right"><i class="fa-solid fa-chevron-right"></i></div>
                        </li>
                        <li class="rbt-breadcrumb-item active">Shop</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="rbt-component-area rbt-page-banner-content">
        <div class="container">
            <div class="row">
    <div class="col-lg-12">
        <div class="rbt-component-banner radius-8 rbt-scroll-trigger fade_in animation-order-1">
            <div class="mega-top-banner bg-three">
                <div class="rbt-banner-inner w-100">
                    <div class="rbt-banner-content">
                        <h2 class="title">Buy One and Get 50% Off the Second Purchase Now</h2>
                        <p class="b3 desc">Send us your idea, it may appear on Unimart.</p>
                    </div>
                    <div class="pricing-action d-flex align-items-center rbt-gap--8">
                        <div class="rbt-pricing-part d-flex">
                            <span class="rbt-price-text offer-price">$189.00</span>
                            <del class="rbt-dis-price-text">$295.00</del>
                        </div>
                        <a class="rbt-btn rbt-btn-sm rbt-btn-black" href="product-single-default.html">View Details</a>
                    </div>
                    <a href="#" class="product-img position-bottom d-none d-xl-block"><img src="assets/images/splash/menu-banner/menu-prd-01.webp" alt="Eccommerce Product"></a>
                </div>
            </div>
        </div>
    </div>
</div>
        </div>
    </div>

<div class="rbt-component-area rbt-catagories-area pt--0 pt_sm--16 pt_md--16 rbt-bg-color-white">
        <div class="container">
            <!-- Start Component Area -->
<div class="row row--12 align-items-end rbt-tablet-row rbt-mobile-row">

    <!-- Start Single Card  -->
    <div class="col-lg-1-8 col-md-2 col-sm-3 col-3">
        <a class="rbt-cat-box rbt-cat-box-1 text-center rbt-scroll-trigger fade_in animation-order-1" href="shop-by-categories.html">
            <div class="inner">
                <div class="rbt-image-portion">
                    <img src="assets/images/catagory-img/cat-img-01.webp" alt="Catagory Product Images">
                </div>
                <div class="content">
                    <p class="title">Apple Phone</p>
                </div>
            </div>
        </a>
    </div>
    <!-- End Single Card  -->

    <!-- Start Single Card  -->
    <div class="col-lg-1-8 col-md-2 col-sm-3 col-3">
        <a class="rbt-cat-box rbt-cat-box-1 text-center rbt-scroll-trigger fade_in animation-order-2" href="shop-by-categories.html">
            <div class="inner">
                <div class="rbt-image-portion">
                    <img src="assets/images/catagory-img/cat-img-02.webp" alt="Catagory Product Images">
                </div>
                <div class="content">
                    <p class="title">Jacket &amp; Polo</p>
                </div>
            </div>
        </a>
    </div>
    <!-- End Single Card  -->

    <!-- Start Single Card  -->
    <div class="col-lg-1-8 col-md-2 col-sm-3 col-3">
        <a class="rbt-cat-box rbt-cat-box-1 text-center rbt-scroll-trigger fade_in animation-order-3" href="shop-by-categories.html">
            <div class="inner">
                <div class="rbt-image-portion">
                    <img src="assets/images/catagory-img/cat-img-03.webp" alt="Catagory Product Images">
                </div>
                <div class="content">
                    <p class="title">Printer &amp; Ink</p>
                </div>
            </div>
        </a>
    </div>
    <!-- End Single Card  -->

    <!-- Start Single Card  -->
    <div class="col-lg-1-8 col-md-2 col-sm-3 col-3">
        <a class="rbt-cat-box rbt-cat-box-1 text-center rbt-scroll-trigger fade_in animation-order-4" href="shop-by-categories.html">
            <div class="inner">
                <div class="rbt-image-portion">
                    <img src="assets/images/catagory-img/cat-img-04.webp" alt="Catagory Product Images">
                </div>
                <div class="content">
                    <p class="title">Doll Panda</p>
                </div>
            </div>
        </a>
    </div>
    <!-- End Single Card  -->

    <!-- Start Single Card  -->
    <div class="col-lg-1-8 col-md-2 col-sm-3 col-3">
        <a class="rbt-cat-box rbt-cat-box-1 text-center rbt-scroll-trigger fade_in animation-order-5" href="shop-by-categories.html">
            <div class="inner">
                <div class="rbt-image-portion">
                    <img class="rbt-sm-max-height" src="assets/images/catagory-img/cat-img-05.webp" alt="Catagory Product Images">
                </div>
                <div class="content">
                    <p class="title">VIP Chair</p>
                </div>
            </div>
        </a>
    </div>
    <!-- End Single Card  -->

    <!-- Start Single Card  -->
    <div class="col-lg-1-8 col-md-2 col-sm-3 col-3">
        <a class="rbt-cat-box rbt-cat-box-1 text-center rbt-scroll-trigger fade_in animation-order-6" href="shop-by-categories.html">
            <div class="inner">
                <div class="rbt-image-portion">
                    <img src="assets/images/catagory-img/cat-img-06.webp" alt="Catagory Product Images">
                </div>
                <div class="content">
                    <p class="title">Stylish Bags</p>
                </div>
            </div>
        </a>
    </div>
    <!-- End Single Card  -->

    <!-- Start Single Card  -->
    <div class="col-lg-1-8 col-md-2 col-sm-3 col-3">
        <a class="rbt-cat-box rbt-cat-box-1 text-center rbt-scroll-trigger fade_in animation-order-7" href="shop-by-categories.html">
            <div class="inner">
                <div class="rbt-image-portion">
                    <img src="assets/images/catagory-img/cat-img-03.webp" alt="Catagory Product Images">
                </div>
                <div class="content">
                    <p class="title">Printer &amp; Ink</p>
                </div>
            </div>
        </a>
    </div>
    <!-- End Single Card  -->

    <!-- Start Single Card  -->
    <div class="col-lg-1-8 col-md-2 col-sm-3 col-3">
        <a class="rbt-cat-box rbt-cat-box-1 text-center rbt-scroll-trigger fade_in animation-order-8" href="shop-by-categories.html">
            <div class="inner">
                <div class="rbt-image-portion">
                    <img src="assets/images/catagory-img/cat-img-04.webp" alt="Catagory Product Images">
                </div>
                <div class="content">
                    <p class="title">Doll Panda</p>
                </div>
            </div>
        </a>
    </div>
    <!-- End Single Card  -->

</div>
<!-- End Component Area -->
        </div>
    </div>

<div class="rbt-component-area ptb--32 ptb_sm--12 ptb_md--20">
        <div class="container">
            <div class="rbt-separator rbt-separator-gray200"></div>
        </div>
    </div>

<app-product-catalog></app-product-catalog>

<app-template-overlays kind="notifyModal" variant="product-list"></app-template-overlays>

<app-template-overlays kind="quickViewRestockModal" variant="product-list"></app-template-overlays>

<app-template-overlays kind="comparison-message" variant="product-list"></app-template-overlays>

<app-template-overlays kind="findstoreModal" variant="product-list"></app-template-overlays>

<app-template-overlays kind="quickviewModal" variant="product-list"></app-template-overlays>

<app-template-overlays kind="popup-cartModal" variant="product-list"></app-template-overlays>

<app-template-overlays kind="quickviewSizeGuideModal" variant="product-list"></app-template-overlays>

<app-template-overlays kind="wishlistModal" variant="product-list"></app-template-overlays>

<app-template-overlays kind="addedcartModal" variant="product-list"></app-template-overlays>

<app-template-overlays kind="compareviewModal" variant="product-list"></app-template-overlays>

<app-template-overlays kind="socialShareModal" variant="product-list"></app-template-overlays>

<app-template-overlays kind="quickviewEditCartModal" variant="product-list"></app-template-overlays>

<app-footer kind="footer" variant="product-list"></app-footer>

<app-login></app-login>



<app-template-overlays kind="demos-modal" variant="product-list"></app-template-overlays>

<app-template-utilities kind="rbt-toolbar" variant="product-list"></app-template-utilities>

<app-template-utilities kind="rbt-toaster" variant="product-list"></app-template-utilities>

<app-template-utilities kind="rbt-toaster" variant="product-list"></app-template-utilities>

<app-template-utilities kind="rbt-progress-parent" variant="product-list"></app-template-utilities>

<app-template-utilities kind="close_side_menu" variant="product-list"></app-template-utilities>

<app-template-utilities kind="common-close_search_dropdown" variant="product-list"></app-template-utilities>