<div class="rbt-cart-side-menu rbt-sidebar-cart">
    <div class="inner-wrapper">
        <div class="inner-top">
            <div class="rbt-cart-header">
                <div class="title-section">
                    <h2 class="title mb--0 h6"><i class="fa-sharp fa-regular fa-cart-shopping mr--12"></i> Your cart
                    </h2>
                </div>
                <div class="rbt-quick-info-tag d-flex mt--16 rbt-flash-animation">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M18.9706 14.9359C18.8148 18.8649 15.7493 22 11.9891 22C8.12909 22 5 18.5858 5 14.6221C5 14.0924 4.99101 13.0336 5.74352 11.2472C6.19387 10.1781 6.47633 9.50646 6.63574 8.89253C6.72333 8.55511 6.89367 8.01904 7.37926 8.89253C7.66559 9.40757 7.67666 10.1483 7.67666 10.1483C7.67666 10.1483 8.74197 9.28536 9.4611 7.63673C10.5153 5.21985 9.67419 3.77512 9.38675 2.77048C9.28727 2.42294 9.22481 1.79833 9.90721 2.06409C10.6025 2.33495 12.4408 3.69334 13.4017 5.12512C14.7732 7.16855 15.2605 9.128 15.2605 9.128C15.2605 9.128 15.6997 8.55268 15.8553 7.95068C16.0312 7.27089 16.0338 6.59763 16.5988 7.32285C17.1361 8.01253 17.9341 9.3086 18.3833 10.5408C19.1989 12.7784 18.9706 14.9359 18.9706 14.9359Z" fill="url(#paint0_linear_47_2365484)"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M11.9999 22C9.23852 22 7 19.7944 7 17.0735C7 15.4318 7.67145 14.435 9.0689 13.0833C9.96366 12.2179 10.8011 11.1549 11.157 10.4311C11.2271 10.2886 11.3866 9.54605 12.0014 10.4155C12.3239 10.8714 12.8296 11.6823 13.1538 12.3744C13.7127 13.5676 13.8461 14.7239 13.8461 14.7239C13.8461 14.7239 14.3938 14.4059 14.7692 13.5871C14.8902 13.3232 15.1348 12.3241 15.8186 13.323C16.3204 14.0561 17.0097 15.3741 16.9999 17.0735C16.9999 19.7944 14.7613 22 11.9999 22Z" fill="#FC9502"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M12.1019 16C12.8497 16 12.8497 17.4475 13.7996 19.3803C14.4321 20.6672 13.486 22 12.1019 22C10.7178 22 10 20.8271 10 19.3803C10 17.9335 11.3541 16 12.1019 16Z" fill="#FCE202"></path>
                        <defs>
                            <linearGradient id="paint0_linear_47_2365484" x1="11.9995" y1="22.0148" x2="11.9995" y2="2.01511" gradientUnits="userSpaceOnUse">
                                <stop offset="1" stop-color="#FF4C0D"></stop>
                                <stop offset="1" stop-color="#FC9502"></stop>
                            </linearGradient>
                        </defs>
                    </svg>
                    <p>Items in your cart are not reserved until checkout.</p>
                </div>
                <div class="rbt-btn-close" id="btn_sideNavClose">
                    <button class="minicart-close-button rbt-round-btn"><i class="fa-solid fa-xmark"></i></button>
                </div>
            </div>
            <nav class="side-nav w-100">
                <app-cart-items></app-cart-items>
                <div class="minicart-quick-access-area mt--24">
                    <a href="#" class="single-quick-access rbt-note-btn">
                        <span class="icon"><i class="fa-regular fa-pen"></i></span>
                        <span class="text">Note</span>
                    </a>
                    <span class="hr-sepator"></span>
                    <a href="#" class="single-quick-access rbt-shipping-btn">
                        <span class="icon"><i class="fa-regular fa-truck-fast"></i></span>
                        <span class="text">Shipping</span>
                    </a>
                    <span class="hr-sepator"></span>
                    <a href="#" class="single-quick-access rbt-coupon-btn">
                        <span class="icon"><i class="fa-regular fa-ticket"></i></span>
                        <span class="text">Coupon</span>
                    </a>
                </div>
                <div class="minicart-inc-items-area mt--12">
                    <h3 class="title h6 positin-top">You May Also Like</h3>
                    <div class="bottom-area">
                        <div class="swiper rbt-dot-top-right inc-item-swiper-activation rbt-minicart-wrapper overflow-hidden">
                            <div class="swiper-wrapper">
                                <!-- single slide -->
                                <div class="swiper-slide">
                                    <div class="minicart-item">
                                        <div class="thumbnail">
                                            <a href="product-single-default.html">
                                                <img src="assets/images/product-img/electronics/electronics-bg-trans-08-a-1-hover.webp" alt="Product Image">
                                            </a>
                                        </div>
                                        <div class="product-content">
                                            <h3 class="title h6"><a href="product-single-default.html">Keurig K-Duo 4K
                                                    Waterproof Action
                                                    Video Camera </a></h3>
                                            <span class="quantity"><span class="price">$345.00</span></span>
                                        </div>
                                        <a href="#!" class="add-itembtn tooltips" data-bs-toggle="modal" data-bs-target="#addedcartModal" data-tooltip="Add to Cart"><i class="fa-regular fa-cart-plus"></i></a>
                                    </div>
                                </div>
                                <!-- single slide -->
                                <div class="swiper-slide">
                                    <div class="minicart-item">
                                        <div class="thumbnail">
                                            <a href="product-single-default.html">
                                                <img src="assets/images/product-img/electronics/electronics-bg-trans-06-a-1-hover.webp" alt="Product Image">
                                            </a>
                                        </div>
                                        <div class="product-content">
                                            <h3 class="title h6"><a href="product-single-default.html">Full Amoled HD
                                                    Streaming Webcam</a>
                                            </h3>
                                            <span class="quantity"><span class="price">$189.00</span></span>
                                        </div>
                                        <a href="#!" class="add-itembtn tooltips" data-bs-toggle="modal" data-bs-target="#addedcartModal" data-tooltip="Add to Cart"><i class="fa-regular fa-cart-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="rbt-swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="rbt-minicart-footer">
            <hr class="mb--0 mt--16">
            <div class="rbt-cart-subttotal">
                <p>Subtotal ({{ cart.count() }} items)</p>
                <p class="price">{{ cart.subtotal() != null ? (cart.subtotal() | currency:'USD':'symbol':'1.2-2') : 'Unavailable' }}</p>
            </div>
            <div class="rbt-cart-subttotal">
                <p>Shipping</p>
                <p class="price">Unavailable</p>
            </div>
            <hr class="mb--0">
            <div class="rbt-cart-subttotal">
                <p class="subtotal"><strong>Total</strong></p>
                <p class="price">Unavailable</p>
            </div>
            <div class="offer-progress-area">
                <p class="offer-text">Add <strong>$248.00</strong> More To Get <strong>Free Shipping</strong></p>
                <div class="progress" role="progressbar" aria-label="Shipping-progress" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar w-75"></div>
                </div>
            </div>
            <div class="rbt-minicart-bottom mt--24">
                <div class="checkout-btn mt--20">
                    <a class="rbt-btn w-100 text-center" href="#">
                        <span class="btn-text">Checkout</span>
                    </a>
                </div>
                <div class="share-btn-grp rbt-link-hover">
                    <a href="cart.html" class="share-btn"><i class="fa-regular fa-pen mr--4"></i> View Cart</a>
                    <button data-bs-toggle="modal" data-bs-target="#socialShareModal" type="button" class="share-btn"><i class="fa-sharp fa-solid fa-link mr--4"></i> Share Cart</button>
                </div>
            </div>
        </div>
    </div>
    <a href="#!" class="rbt-close-inner-popup rbt-popup-close-btn"></a>
    <div class="rbt-offcanvas-inner-popup">
    <div class="rbt-offcanvas-inner-popup-card note-popup">
        <div class="rbt-offcanvas-card-inner">
            <h3 class="rbt-title rbt-text-bold h6">
                <span class="mr--4"><i class="fa-regular fa-pen"></i></span>
                Add note for seller
            </h3>
            <form>
                <div class="rbt-input-field-grp mb--12">
                    <textarea class="rbt-text-field" name="message" placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
                </div>
                <div class="rbt-btn-group mt--16">
                    <button class="rbt-btn rbt-btn-md rbt-btn-primary d-block w-100">Apply</button>
                    <button class="rbt-btn rbt-btn-md rbt-btn-naked d-block w-100 mt--8 mb--8 rbt-popup-close-btn">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
    <div class="rbt-offcanvas-inner-popup">
    <div class="rbt-offcanvas-inner-popup-card shipping-popup">
        <div class="rbt-offcanvas-card-inner">
            <h3 class="rbt-title rbt-text-bold h6">
                <span class="mr--4"><i class="fa-light fa-truck-fast"></i></span>
                Estimate shipping rates
            </h3>
            <form>
                <div class="rbt-input-field-grp mb--12">
                    <div class="rbt-dropdown-select filter-select rbt-modern-select search-by-category">
                        <select class="w-100 rbt-select-activation" data-live-search="true" data-live-search-placeholder="Search City">
                            <option>Select your City</option>
                            <option>New York</option>
                            <option>London</option>
                            <option>Paris</option>
                            <option>Tokyo</option>
                            <option>Dubai</option>
                            <option>Singapore</option>
                            <option>Sydney</option>
                            <option>Berlin</option>
                            <option>Toronto</option>
                            <option>Los Angeles</option>
                        </select>
                    </div>
                </div>
                <div class="rbt-input-field-grp mb--12">
                    <input type="text" placeholder="State / County">
                </div>
                <div class="rbt-input-field-grp mb--12">
                    <input type="text" placeholder="City">
                </div>
                <div class="rbt-input-field-grp">
                    <input type="text" placeholder="Postcode / ZIP">
                </div>
                <div class="rbt-btn-group mt--16">
                    <button class="rbt-btn rbt-btn-md rbt-btn-primary d-block w-100">Calculate shipping rates</button>
                    <button class="rbt-btn rbt-btn-md rbt-btn-naked d-block w-100 mt--8 mb--8 rbt-popup-close-btn">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
    <div class="rbt-offcanvas-inner-popup">
    <div class="rbt-offcanvas-inner-popup-card coupon-popup">
        <div class="rbt-offcanvas-card-inner">
            <h3 class="rbt-title rbt-text-bold h6">
                <span class="mr--4"><i class="fa-regular fa-ticket"></i></span>
                Select or input Coupon
            </h3>
            <div class="rbt-coupon-wrapper rbt-bg-color-white">
                <div class="rbt-coupon">
                    <div class="inner rbt-text-copy-activation">
                        <div class="left-part">
                            <input type="text" value="WELCOME100" readonly="" class="rbt-coupon-code-text rbt-has-right-shepe-border rbt-copy-value-field">
                        </div>
                        <div class="coupon-details">
                            <h2 class="rbt-coupon-info-title b1">UP TO 30% OFF</h2>
                            <p class="rbt-coupon-info-sub-title b3 mt--4">For orders over $9.90</p>
                            <ul class="rbt-coupon-info-list mt--12">
                                <li><span>12/18/2023 14:00 ~ 12/25/2023 14:00</span></li>
                                <li><span>The minimum spend for this coupon <strong>$200.00</strong></span></li>
                            </ul>
                        </div>
                        <button class="copy-icon rbt-round-btn rbt-bg-primary rbt-copy-btn" data-tooltip="Copy">
                            <i class="fa-sharp fa-regular fa-copy"></i>
                        </button>
                    </div>
                </div>
                <div class="rbt-coupon">
                    <div class="inner rbt-text-copy-activation">
                        <div class="left-part">
                            <input type="text" value="WELCOME100" readonly="" class="rbt-coupon-code-text rbt-has-right-shepe-border rbt-copy-value-field">
                        </div>
                        <div class="coupon-details">
                            <h2 class="rbt-coupon-info-title b1">UP TO 30% OFF</h2>
                            <p class="rbt-coupon-info-sub-title b3 mt--4">For orders over $9.90</p>
                            <ul class="rbt-coupon-info-list mt--12">
                                <li><span>12/18/2023 14:00 ~ 12/25/2023 14:00</span></li>
                                <li><span>The minimum spend for this coupon <strong>$200.00</strong></span></li>
                            </ul>
                        </div>
                        <button class="copy-icon rbt-round-btn rbt-bg-primary rbt-copy-btn" data-tooltip="Copy">
                            <i class="fa-sharp fa-regular fa-copy"></i>
                        </button>
                    </div>
                </div>
            </div>
            <form>
                <div class="rbt-input-field-grp mt--24">
                    <p class="b1 mb--12 rbt-text-color-gray-600">If you have coupon code, please apply it below.</p>
                    <input type="text" placeholder="Coupon code">
                </div>
                <div class="rbt-btn-group mt--16">
                    <button class="rbt-btn rbt-btn-md rbt-btn-primary d-block w-100">Apply</button>
                    <button class="rbt-btn rbt-btn-md rbt-btn-naked d-block w-100 mt--8 mb--8 rbt-popup-close-btn">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>