<h1 class="visually-hidden">Cart</h1>

<app-header-navigation kind="header" variant="cart"></app-header-navigation>

<app-template-utilities kind="rbt-preloader" variant="cart"></app-template-utilities>

<app-side-navigation kind="mobile" variant="cart"></app-side-navigation>

<app-side-navigation kind="categories" variant="cart"></app-side-navigation>

<app-side-cart kind="cart" variant="cart"></app-side-cart>

<app-side-navigation kind="special-offers" variant="cart"></app-side-navigation>

<app-template-overlays kind="recent-viewModal" variant="cart"></app-template-overlays>

<div class="rbt-breadcrumb-two rbt-bg-color-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="rbt-breadcrumb-inner text-left">
                    <ul class="rbt-breadcrumb-page-list justify-content-start mt--0">
                        <li class="rbt-breadcrumb-item"><a href="index.html">Home</a></li>
                        <li>
                            <div class="icon-right"><i class="fa-solid fa-chevron-right"></i></div>
                        </li>
                        <li class="rbt-breadcrumb-item"><a href="#">Pages</a></li>
                        <li>
                            <div class="icon-right"><i class="fa-solid fa-chevron-right"></i></div>
                        </li>
                        <li class="rbt-breadcrumb-item active">Shopping Cart</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="rbt-component-area rbt-cart-page rbt-section-gapBottom rbt-bg-color-white">
        <div class="container">
            <div class="row row--12">
                <div class="col-lg-12">
                    <div class="rbt-component-section-title d-flex flex-coloumn justify-content-center align-items-center p-0 mb--24 border-0">
                        <h2 class="rbt-title rbt-scroll-trigger fade_in animation-order-1"><span class="rbt-bold--text">Shopping Cart</span></h2>

                        <div class="rbt-quick-info-tag d-flex">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M18.9706 14.9359C18.8148 18.8649 15.7493 22 11.9891 22C8.12909 22 5 18.5858 5 14.6221C5 14.0924 4.99101 13.0336 5.74352 11.2472C6.19387 10.1781 6.47633 9.50646 6.63574 8.89253C6.72333 8.55511 6.89367 8.01904 7.37926 8.89253C7.66559 9.40757 7.67666 10.1483 7.67666 10.1483C7.67666 10.1483 8.74197 9.28536 9.4611 7.63673C10.5153 5.21985 9.67419 3.77512 9.38675 2.77048C9.28727 2.42294 9.22481 1.79833 9.90721 2.06409C10.6025 2.33495 12.4408 3.69334 13.4017 5.12512C14.7732 7.16855 15.2605 9.128 15.2605 9.128C15.2605 9.128 15.6997 8.55268 15.8553 7.95068C16.0312 7.27089 16.0338 6.59763 16.5988 7.32285C17.1361 8.01253 17.9341 9.3086 18.3833 10.5408C19.1989 12.7784 18.9706 14.9359 18.9706 14.9359Z" fill="url(#paint0_linear_47_23656)"></path>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.9999 22C9.23852 22 7 19.7944 7 17.0735C7 15.4318 7.67145 14.435 9.0689 13.0833C9.96366 12.2179 10.8011 11.1549 11.157 10.4311C11.2271 10.2886 11.3866 9.54605 12.0014 10.4155C12.3239 10.8714 12.8296 11.6823 13.1538 12.3744C13.7127 13.5676 13.8461 14.7239 13.8461 14.7239C13.8461 14.7239 14.3938 14.4059 14.7692 13.5871C14.8902 13.3232 15.1348 12.3241 15.8186 13.323C16.3204 14.0561 17.0097 15.3741 16.9999 17.0735C16.9999 19.7944 14.7613 22 11.9999 22Z" fill="#FC9502"></path>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M12.1019 16C12.8497 16 12.8497 17.4475 13.7996 19.3803C14.4321 20.6672 13.486 22 12.1019 22C10.7178 22 10 20.8271 10 19.3803C10 17.9335 11.3541 16 12.1019 16Z" fill="#FCE202"></path>
                                <defs>
                                    <linearGradient id="paint0_linear_47_23656" x1="11.9995" y1="22.0148" x2="11.9995" y2="2.01511" gradientUnits="userSpaceOnUse">
                                        <stop offset="1" stop-color="#FF4C0D"></stop>
                                        <stop offset="1" stop-color="#FC9502"></stop>
                                    </linearGradient>
                                </defs>
                            </svg>
                            <p>Limited Item, <strong>checkout within <span class="rbt-countdown-cart">10m
                                        00s</span></strong>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row row--12 mt_dec--24">
                <div class="col-12 col-md-12 col-lg-8 mt--24">
                    <div class="rbt-transparent-table-one-wrapper rbt-has-bg-gray rbt-scrollable-content">
                        <table class="rbt-transparent-table-one table-variation-one mb--0">
                            <thead>
                                <tr>
                                    <th scope="col">Product</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Total Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Start single cart product row -->
                                <tr>
                                    <td>
                                        <div class="cart-product-card">
                                            <div class="product-thumbnail">
                                                <a href="product-single-default.html">
                                                    <img src="assets/images/wishlist/wishlist-prd-1.webp" alt="Product image">

                                                </a>
                                                    <button class="close-btn"><i class="fa-solid fa-xmark"></i></button>
                                            </div>
                                            <div class="d-flex flex-column">
                                                <h3 class="rbt-wish-product-name h6">
                                                    <a href="product-single-default.html">
                                                        JBL PartyBox 100W Speaker
                                                    </a>
                                                </h3>
                                                <span class="rbt-product-id"><span class="rbt-text-semi-bold">SKU:</span> #180036565</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="price-text h6 d-block">$189.00</span>
                                    </td>

                                    <td>
                                        <div class="rbt-qty-area rbt-qty-sm">
                                            <button class="qty-item-btn qty-item-btn-decr"><i class="fa-solid fa-minus"></i></button>
                                            <input type="number" class="items-qty-input" value="01" min="1">
                                            <button class="qty-item-btn qty-item-btn-incr"><i class="fa-solid fa-plus"></i></button>
                                        </div>
                                    </td>

                                    <td>
                                        <div>
                                            <span class="price-text h6 d-block"><span class="rbt-bold--text">$189.00</span></span>
                                        </div>
                                    </td>
                                </tr>
                                <!-- End single cart product row -->

                                <!-- Start single cart product row -->
                                <tr>
                                    <td>
                                        <div class="cart-product-card">
                                            <div class="product-thumbnail">
                                                <a href="product-single-default.html">
                                                    <img src="assets/images/wishlist/wishlist-prd-2.webp" alt="Product image">

                                                </a>
                                                    <button class="close-btn"><i class="fa-solid fa-xmark"></i></button>

                                            </div>
                                            <div class="d-flex flex-column">
                                                <h3 class="rbt-wish-product-name h6">
                                                    <a href="product-single-default.html">
                                                        Apple Watch Ultra 2
                                                    </a>
                                                </h3>
                                                <span class="rbt-product-id"><span class="rbt-text-semi-bold">SKU:</span>
                                                    #670036565</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="price-text h6 d-block">$359.00</span>
                                    </td>

                                    <td>
                                        <div class="rbt-qty-area rbt-qty-sm">
                                            <button class="qty-item-btn qty-item-btn-decr"><i class="fa-solid fa-minus"></i></button>
                                            <input type="number" class="items-qty-input" value="02" min="1">
                                            <button class="qty-item-btn qty-item-btn-incr"><i class="fa-solid fa-plus"></i></button>
                                        </div>
                                    </td>

                                    <td>
                                        <div>
                                            <span class="price-text h6 d-block"><span class="rbt-bold--text">$718.00</span></span>
                                        </div>
                                    </td>
                                </tr>
                                <!-- End single cart product row -->

                                <!-- Start single cart product row -->
                                <tr>
                                    <td>
                                        <div class="cart-product-card">
                                            <div class="product-thumbnail">
                                                <a href="product-single-default.html">
                                                    <img src="assets/images/catagory-img/cat-transp-img-06.webp" alt="Product image">

                                                </a>
                                                    <button class="close-btn"><i class="fa-solid fa-xmark"></i></button>

                                            </div>
                                            <div class="d-flex flex-column">
                                                <h3 class="rbt-wish-product-name h6">
                                                    <a href="product-single-default.html">
                                                        PlayStation Wireless Headphone
                                                    </a>
                                                </h3>
                                                <span class="rbt-product-id"><span class="rbt-text-semi-bold">SKU:</span>
                                                    #356036565</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="price-text h6 d-block">$759.00</span>
                                    </td>

                                    <td>
                                        <div class="rbt-qty-area rbt-qty-sm">
                                            <button class="qty-item-btn qty-item-btn-decr"><i class="fa-solid fa-minus"></i></button>
                                            <input type="number" class="items-qty-input" value="01" min="1">
                                            <button class="qty-item-btn qty-item-btn-incr"><i class="fa-solid fa-plus"></i></button>
                                        </div>
                                    </td>

                                    <td>
                                        <div>
                                            <span class="price-text h6 d-block"><span class="rbt-bold--text">$759.00</span></span>
                                        </div>
                                    </td>
                                </tr>
                                <!-- End single cart product row -->

                                <!-- Start single cart product row -->
                                <tr>
                                    <td>
                                        <div class="cart-product-card">
                                            <div class="product-thumbnail">
                                                <a href="product-single-default.html">
                                                    <img src="assets/images/catagory-img/cat-transp-img-01.webp" alt="Product image">

                                                </a>
                                                    <button class="close-btn"><i class="fa-solid fa-xmark"></i></button>

                                            </div>
                                            <div class="d-flex flex-column">
                                                <h3 class="rbt-wish-product-name h6">
                                                    <a href="product-single-default.html">
                                                        Awei CL-115M USB 2.4A Cable
                                                    </a>
                                                </h3>
                                                <span class="rbt-product-id"><span class="rbt-text-semi-bold">SKU:</span>
                                                    #180036565</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="price-text h6 d-block">$459.00</span>
                                    </td>

                                    <td>
                                        <div class="rbt-qty-area rbt-qty-sm">
                                            <button class="qty-item-btn qty-item-btn-decr"><i class="fa-solid fa-minus"></i></button>
                                            <input type="number" class="items-qty-input" value="02" min="1">
                                            <button class="qty-item-btn qty-item-btn-incr"><i class="fa-solid fa-plus"></i></button>
                                        </div>
                                    </td>

                                    <td>
                                        <div>
                                            <span class="price-text h6 d-block"><span class="rbt-bold--text">$918.00</span></span>
                                        </div>
                                    </td>
                                </tr>
                                <!-- End single cart product row -->

                                <!-- Start single cart product row -->
                                <tr>
                                    <td>
                                        <div class="cart-product-card">
                                            <div class="product-thumbnail">
                                                <a href="product-single-default.html">
                                                    <img src="assets/images/catagory-img/cat-transp-img-02.webp" alt="Product image">

                                                </a>
                                                    <button class="close-btn"><i class="fa-solid fa-xmark"></i></button>

                                            </div>
                                            <div class="d-flex flex-column">
                                                <h3 class="rbt-wish-product-name h6">
                                                    <a href="product-single-default.html">
                                                        MaxGreen 45W Power Adapter
                                                    </a>
                                                </h3>
                                                <span class="rbt-product-id"><span class="rbt-text-semi-bold">SKU:</span>
                                                    #45036565</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="price-text h6 d-block">$999.00</span>
                                    </td>

                                    <td>
                                        <div class="rbt-qty-area rbt-qty-sm">
                                            <button class="qty-item-btn qty-item-btn-decr"><i class="fa-solid fa-minus"></i></button>
                                            <input type="number" class="items-qty-input" value="01" min="1">
                                            <button class="qty-item-btn qty-item-btn-incr"><i class="fa-solid fa-plus"></i></button>
                                        </div>
                                    </td>

                                    <td>
                                        <div>
                                            <span class="price-text h6 d-block"><span class="rbt-bold--text">$999.00</span></span>
                                        </div>
                                    </td>
                                </tr>
                                <!-- End single cart product row -->
                                <!-- Start single cart product row -->
                                <tr>
                                    <td>
                                        <div class="cart-product-card">
                                            <div class="product-thumbnail">
                                                <a href="product-single-default.html">
                                                    <img src="assets/images/catagory-img/cat-transp-img-03.webp" alt="Product image">

                                                </a>
                                                    <button class="close-btn"><i class="fa-solid fa-xmark"></i></button>

                                            </div>
                                            <div class="d-flex flex-column">
                                                <h3 class="rbt-wish-product-name h6">
                                                    <a href="product-single-default.html">
                                                        Havit PB90 Power Bank
                                                    </a>
                                                </h3>
                                                <span class="rbt-product-id"><span class="rbt-text-semi-bold">SKU:</span>
                                                    #89036565</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="price-text h6 d-block">$678.00</span>
                                    </td>

                                    <td>
                                        <div class="rbt-qty-area rbt-qty-sm">
                                            <button class="qty-item-btn qty-item-btn-decr"><i class="fa-solid fa-minus"></i></button>
                                            <input type="number" class="items-qty-input" value="01" min="1">
                                            <button class="qty-item-btn qty-item-btn-incr"><i class="fa-solid fa-plus"></i></button>
                                        </div>
                                    </td>

                                    <td>
                                        <div>
                                            <span class="price-text h6 d-block"><span class="rbt-bold--text">$678.00</span></span>
                                        </div>
                                    </td>
                                </tr>
                                <!-- End single cart product row -->

                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-12 col-md-12 col-lg-4 mt--24">
                    <div class="rbt-sidebar-cart sticky-top">
                        <div class="inner-wrapper">
                            <!-- Start Single Widget -->
                            <div class="rbt-sidebar-widget">
                                <div class="rbt-inner">
                                    <!-- single collapase item -->
                                    <div class="rbt-single-collapse-item">
                                        <a class="rbt-collapse-btn d-flex justify-content-between align-items-center" data-bs-toggle="collapse" href="#rbt-collapse-item-1" role="button" aria-expanded="true" aria-controls="rbt-collapse-item-1">
                                            <h3 class="rbt-title rbt-text-bold mb--0 h6">
                                                <span class="mr--4"><i class="fa-light fa-truck-fast"></i></span>
                                                Estimate shipping rates
                                            </h3>
                                            <span class="rbt-icon"><i class="fa-regular fa-chevron-down"></i></span>
                                        </a>
                                        <div class="collapse show" id="rbt-collapse-item-1">
                                            <div class="rbt-offcanvas-inner-popup-card has-default-visible shipping-popup shadow-none p--0 bg-transparent">
                                                <div class="rbt-offcanvas-card-inner">
                                                    <ul class="rbt-sidebar-list-wrapper liststyle mt--12">
                                                        <li class="rbt-check-group">
                                                            <input id="rbt-cat-list-brand-radio-1" type="radio" name="rbt-cat-list-brand-radio">
                                                            <label for="rbt-cat-list-brand-radio-1">
                                                                <span class="rbt-lable-content">
                                                                    Express Delivery
                                                                </span>
                                                            </label>
                                                        </li>
                                                        <li class="rbt-check-group">
                                                            <input id="rbt-cat-list-brand-radio-2" type="radio" name="rbt-cat-list-brand-radio">
                                                            <label for="rbt-cat-list-brand-radio-2">
                                                                <span class="rbt-lable-content">
                                                                    Local Pickup : <span class="rbt-text-color-black rbt-text-bold">$10.00
                                                                        (Flat Rate)</span>
                                                                </span>
                                                            </label>
                                                        </li>
                                                        <li class="rbt-check-group">
                                                            <input id="rbt-cat-list-brand-radio-3" type="radio" name="rbt-cat-list-brand-radio">
                                                            <label for="rbt-cat-list-brand-radio-3">
                                                                <span class="rbt-lable-content">
                                                                    Regular Delivery
                                                                </span>
                                                            </label>
                                                        </li>
                                                    </ul>

                                                    <p class="rbt-text-color-primary rbt-text-semi-bold b2 mb--16 mt--20">
                                                        <span class="mr--4"><i class="fa-light fa-truck-fast"></i></span>
                                                        Estimate shipping
                                                    </p>
                                                    <form>
                                                        <div class="rbt-input-field-grp mb--12">
                                                            <div class="rbt-dropdown-select filter-select rbt-modern-select search-by-category inner-width-100">
                                                                <select class="w-100 rbt-select-activation" data-live-search="true" data-live-search-placeholder="Search Your City">
                                                                    <option>Select your City</option>
                                                                    <option>New York</option>
                                                                    <option>London</option>
                                                                    <option>Paris</option>
                                                                    <option>Tokyo</option>
                                                                    <option>Dubai</option>
                                                                    <option>Singapore</option>
                                                                    <option>Sydney</option>
                                                                    <option>Berlin</option>
                                                                    <option>Toronto</option>
                                                                    <option>Los Angeles</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="rbt-input-field-grp mb--12">
                                                            <input class="rbt-bg-color-white" type="text" placeholder="State / County">
                                                        </div>
                                                        <div class="rbt-input-field-grp mb--12">
                                                            <input class="rbt-bg-color-white" type="text" placeholder="City">
                                                        </div>
                                                        <div class="rbt-input-field-grp">
                                                            <input class="rbt-bg-color-white" type="text" placeholder="Postcode / ZIP">
                                                        </div>
                                                        <div class="rbt-button-group m--0 mt--16">
                                                            <a href="checkout-delivery-step-one.html" class="rbt-btn rbt-btn-md rbt-btn-primary">Calculate
                                                                shipping</a>
                                                            <a href="#!" class="rbt-btn rbt-btn-md rbt-btn-gray-light text-center">Cancel</a>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end single collapase item -->

                                    <hr class="rbt-separator rbt-separator-gray200 mb--24 mt--24">

                                    <!-- start single collapase item -->
                                    <div class="rbt-single-collapse-item">
                                        <a class="rbt-collapse-btn collapsed d-flex justify-content-between align-items-center" data-bs-toggle="collapse" href="#rbt-collapse-item-2" role="button" aria-expanded="false" aria-controls="rbt-collapse-item-2">
                                            <h3 class="rbt-title rbt-text-bold mb--0 h6">
                                                <span class="mr--4"><i class="fa-regular fa-ticket"></i></span>
                                                Select or input Coupon
                                            </h3>
                                            <span class="rbt-icon"><i class="fa-regular fa-chevron-down"></i></span>
                                        </a>
                                        <div class="collapse" id="rbt-collapse-item-2">
                                            <div class="rbt-offcanvas-inner-popup-card has-default-visible shipping-popup shadow-none p--0 bg-transparent">
                                                <div class="rbt-offcanvas-card-inner">
                                                    <div class="rbt-coupon-wrapper rbt-bg-color-gray-100">
                                                        <div class="swiper rbt-coupon-slide-active">
                                                            <div class="swiper-wrapper">
                                                                <!-- Start Single Slide -->
                                                                <div class="swiper-slide">
                                                                    <div class="rbt-coupon">
                                                                        <div class="inner rbt-text-copy-activation">
                                                                            <div class="left-part">
                                                                                <input type="text" value="WELCOME100" readonly="" class="rbt-coupon-code-text rbt-has-right-shepe-border rbt-copy-value-field">
                                                                            </div>
                                                                            <div class="coupon-details">
                                                                                <h2 class="rbt-coupon-info-title b1">UP
                                                                                    TO 30% OFF
                                                                                </h2>
                                                                                <p class="rbt-coupon-info-sub-title b3 mt--4">
                                                                                    For
                                                                                    orders over $9.90</p>
                                                                                <ul class="rbt-coupon-info-list mt--12">
                                                                                    <li><span>12/18/2023 14:00 ~
                                                                                            12/25/2023
                                                                                            14:00</span></li>
                                                                                    <li><span>The minimum spend for this
                                                                                            coupon
                                                                                            <strong>$200.00</strong></span>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                            <button class="copy-icon rbt-round-btn rbt-bg-primary rbt-copy-btn" data-tooltip="Copy">
                                                                                <i class="fa-sharp fa-regular fa-copy"></i>
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!-- End Single Slide -->

                                                                <!-- Start Single Slide -->
                                                                <div class="swiper-slide">
                                                                    <div class="rbt-coupon">
                                                                        <div class="inner rbt-text-copy-activation">
                                                                            <div class="left-part">
                                                                                <input type="text" value="WELCOME100" readonly="" class="rbt-coupon-code-text rbt-has-right-shepe-border rbt-copy-value-field">
                                                                            </div>
                                                                            <div class="coupon-details">
                                                                                <h2 class="rbt-coupon-info-title b1">UP
                                                                                    TO 30% OFF
                                                                                </h2>
                                                                                <p class="rbt-coupon-info-sub-title b3 mt--4">
                                                                                    For
                                                                                    orders over $9.90</p>
                                                                                <ul class="rbt-coupon-info-list mt--12">
                                                                                    <li><span>12/18/2023 14:00 ~
                                                                                            12/25/2023
                                                                                            14:00</span></li>
                                                                                    <li><span>The minimum spend for this
                                                                                            coupon
                                                                                            <strong>$200.00</strong></span>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                            <button class="copy-icon rbt-round-btn rbt-bg-primary rbt-copy-btn" data-tooltip="Copy">
                                                                                <i class="fa-sharp fa-regular fa-copy"></i>
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!-- End Single Slide -->

                                                                <!-- Start Single Slide -->
                                                                <div class="swiper-slide">
                                                                    <div class="rbt-coupon">
                                                                        <div class="inner rbt-text-copy-activation">
                                                                            <div class="left-part">
                                                                                <input type="text" value="WELCOME100" readonly="" class="rbt-coupon-code-text rbt-has-right-shepe-border rbt-copy-value-field">
                                                                            </div>
                                                                            <div class="coupon-details">
                                                                                <h2 class="rbt-coupon-info-title b1">UP
                                                                                    TO 30% OFF
                                                                                </h2>
                                                                                <p class="rbt-coupon-info-sub-title b3 mt--4">
                                                                                    For
                                                                                    orders over $9.90</p>
                                                                                <ul class="rbt-coupon-info-list mt--12">
                                                                                    <li><span>12/18/2023 14:00 ~
                                                                                            12/25/2023
                                                                                            14:00</span></li>
                                                                                    <li><span>The minimum spend for this
                                                                                            coupon
                                                                                            <strong>$200.00</strong></span>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                            <button class="copy-icon rbt-round-btn rbt-bg-primary rbt-copy-btn" data-tooltip="Copy">
                                                                                <i class="fa-sharp fa-regular fa-copy"></i>
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- End Single Slide -->
                                                            <!--  -->
                                                            <div class="swiper-scrollbar"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <form>
                                                    <div class="rbt-input-field-grp mt--24">
                                                        <p class="b1 mb--12 rbt-text-color-gray-600">If you have coupon
                                                            code, please apply it below.</p>
                                                        <input class="rbt-bg-color-white" type="text" placeholder="Coupon code">
                                                        <p class="b4 mb--0 rbt-text-color-danger mt--4">Invalid Promo
                                                            Code “WELCOME30”</p>
                                                    </div>
                                                    <div class="rbt-button-group m--0 mt--16">
                                                        <button class="rbt-btn rbt-btn-md rbt-btn-primary">Apply</button>
                                                        <button class="rbt-btn rbt-btn-md rbt-btn-gray-light">Cancel</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end single collapase item -->

                                    <hr class="rbt-separator rbt-separator-gray200 mb--24 mt--24">

                                    <!-- start single collapase item -->
                                    <div class="rbt-single-collapse-item">
                                        <a class="rbt-collapse-btn collapsed d-flex justify-content-between align-items-center" data-bs-toggle="collapse" href="#rbt-collapse-item-3" role="button" aria-expanded="false" aria-controls="rbt-collapse-item-3">
                                            <h3 class="rbt-title rbt-text-bold mb--0 h6">
                                                <span class="mr--4"><i class="fa-regular fa-pen"></i></span>
                                                Add note for seller
                                            </h3>
                                            <span class="rbt-icon"><i class="fa-regular fa-chevron-down"></i></span>
                                        </a>
                                        <div class="collapse" id="rbt-collapse-item-3">
                                            <div class="rbt-offcanvas-inner-popup-card has-default-visible shipping-popup shadow-none p--0 bg-transparent">
                                                <div class="rbt-offcanvas-card-inner">
                                                    <form>
                                                        <div class="rbt-input-field-grp mb--12 mt--12">
                                                            <textarea class="rbt-text-field rbt-bg-color-white" name="message" placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
                                                        </div>
                                                        <div class="rbt-button-group m--0 mt--16">
                                                            <button class="rbt-btn rbt-btn-md rbt-btn-primary">Add
                                                                Note</button>
                                                            <button class="rbt-btn rbt-btn-md rbt-btn-gray-light">Cancel</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end single collapase item -->
                                </div>
                            </div>
                            <!-- End Single Widget -->
                        </div>

                        <!-- Start Single Widget -->
                        <div class="rbt-sidebar-widget mt--24">
                            <div class="rbt-inner">
                                <div class="rbt-cart-subttotal">
                                    <p>Subtotal (2 items)</p>
                                    <p class="price">$758.00</p>
                                </div>
                                <div class="rbt-cart-subttotal">
                                    <p>Shipping</p>
                                    <p class="price">$10.00</p>
                                </div>
                                <hr class="mb--8 mt--8 rbt-bg-color-gray-200">
                                <div class="rbt-cart-subttotal mb--12">
                                    <p class="subtotal"><strong>Total</strong></p>
                                    <p class="price">$768.00</p>
                                </div>
                                <div class="offer-progress-area">
                                    <p class="offer-text">Add <strong>$248.00</strong> More To Get <strong>Free
                                            Shipping</strong></p>
                                    <div class="progress" role="progressbar" aria-label="Shipping-progress" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar w-75"></div>
                                    </div>
                                </div>
                                <div class="rbt-minicart-bottom mt--24">
                                    <div class="checkout-btn mt--20">
                                        <a class="rbt-btn w-100 text-center" href="checkout-delivery-step-one.html">
                                            <span class="btn-text">Checkout</span>
                                        </a>
                                    </div>
                                    <div class="share-btn-grp rbt-link-hover">
                                        <a href="cart.html" class="share-btn"><i class="fa-regular fa-pen mr--4"></i>
                                            View Cart</a>
                                        <button data-bs-toggle="modal" data-bs-target="#socialShareModal" type="button" class="share-btn"><i class="fa-sharp fa-solid fa-link mr--4"></i> Share
                                            Cart</button>
                                    </div>
                                    <ul class="rbt-cart-brand-list mt--24">
                                        <li>
                                            <a href="#!"><img src="assets/images/payment-brand/image-01.webp" alt="eCommerce Brand Image">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Widget -->
                    </div>
                </div>
            </div>
        </div>
    </div>

<app-customer-reviews kind="reviews" variant="cart"></app-customer-reviews>

<app-similar-products kind="products" variant="cart"></app-similar-products>

<app-template-overlays kind="notifyModal" variant="cart"></app-template-overlays>

<app-template-overlays kind="comparison-message" variant="cart"></app-template-overlays>

<app-template-overlays kind="findstoreModal" variant="cart"></app-template-overlays>

<app-template-overlays kind="quickviewModal" variant="cart"></app-template-overlays>

<app-template-overlays kind="popup-cartModal" variant="cart"></app-template-overlays>

<app-template-overlays kind="quickviewSizeGuideModal" variant="cart"></app-template-overlays>

<app-template-overlays kind="wishlistModal" variant="cart"></app-template-overlays>

<app-template-overlays kind="addedcartModal" variant="cart"></app-template-overlays>

<app-template-overlays kind="compareviewModal" variant="cart"></app-template-overlays>

<app-template-overlays kind="socialShareModal" variant="cart"></app-template-overlays>

<app-template-overlays kind="quickviewEditCartModal" variant="cart"></app-template-overlays>

<app-footer kind="footer" variant="cart"></app-footer>

<app-template-overlays kind="signinModal" variant="cart"></app-template-overlays>

<app-template-overlays kind="signupModal" variant="cart"></app-template-overlays>

<app-template-overlays kind="demos-modal" variant="cart"></app-template-overlays>

<app-template-utilities kind="rbt-toolbar" variant="cart"></app-template-utilities>

<app-template-utilities kind="rbt-toaster" variant="cart"></app-template-utilities>

<app-template-utilities kind="rbt-toaster" variant="cart"></app-template-utilities>

<app-template-utilities kind="rbt-progress-parent" variant="cart"></app-template-utilities>

<app-template-utilities kind="close_side_menu" variant="cart"></app-template-utilities>

<app-template-utilities kind="common-close_search_dropdown" variant="cart"></app-template-utilities>