<div class="rbt-component-area rbt-section-gap rbt-bg-color-gray-white">
        <div class="container">

            <!-- Start Product Single Component -->
<div class="rbt-fshape-box-outline-style rbt-fshape-box-outline-style-extend-width rbt-product-fshape-box-outline-style">
    <div class="row rbt-section-gap2Top pt_sm--100 pt_md--80 pt--0">
        <div class="col-lg-12 rbt-fshape-row position-relative">
            <div class="rbt-component-section-title rbt-bg-color-white">
                <h2 class="rbt-title text-start h4"><span class="rbt-bold--text">Similar items</span></h2>
                <span class="rbt-fshape-right-portion">
                    <svg xmlns="http://www.w3.org/2000/svg" width="52" height="50" viewBox="0 0 52 50" fill="none">
                        <path d="M51.5337 49.984C-64.8544 49.9977 116.427 49.9764 0.0390625 49.9901C0.0390625 31.262 0.0390625 20.7619 0.0390625 2.03378C11.2391 1.63419 16.5034 4.56468 19.5034 10.5602L30.0034 38.5311C34.0374 47.934 45.4209 49.4481 51.5337 49.984Z" fill="var(--color-white)"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M13.246 1.97519C16.582 3.50685 18.8114 5.90944 20.3979 9.07997L20.4213 9.12681L30.9315 37.1248C33.053 42.053 36.807 44.7979 40.7367 46.3047C44.6934 47.8219 48.798 48.068 51.4731 47.987C51.4731 47.987 51.51 49.2041 51.5337 49.984C48.7087 50.0695 44.3134 49.8162 40.02 48.17C35.7052 46.5155 31.4643 43.4388 29.0842 37.891L29.0751 37.8698C29.0751 37.8698 19.997 12.7279 18.5857 9.92689C17.1743 7.12591 15.2591 5.09828 12.4108 3.79055C8.49554 1.49902 0.0390625 2.03378 0.0390625 2.03378C0.0390625 20.7619 0.0390625 31.262 0.0390625 49.9901L0.0408325 0.0348727C5.70805 -0.16568 9.9493 0.461575 13.246 1.97519Z" fill="var(--color-brand-100)"></path>
                    </svg>
                </span>
            </div>

            <a class="rbt-link position-absolute d-inline-block rbt-text-color-primary rbt-text-medium rbt-gap--8 justify-content-center rbt-btn-link" href="shop.html">
                <span class="btn-text">View All Products</span>
                <span class="btn-icon"><i class="fa-sharp fa-solid fa-arrow-up-right-from-square rbt-color-primary"></i></span>
            </a>
        </div>
    </div>

    <div class="rbt-component-area rbt-fshape-box rbt-bg-color-white">
        <!-- Start Card Area -->
        <div class="row row--12 mt_dec--24">
            <!-- Start Single Card  -->
            <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6 mt--24">
                <div class="rbt-card rbt-product-card has-hover-box-shadow">
                    <div class="inner rbt-scroll-trigger fade_in animation-order-2">
                        <div class="rbt-card-img rbt-has-hover-img rbt-bg-color-default">
                            <a href="product-single-default.html">
                                <img class="rbt-prd-img" src="assets/images/product-img/electronics/electronics-bg-trans-10-a-1.webp" alt="Card Image">
                                <img class="rbt-hover-img" src="assets/images/product-img/electronics/electronics-bg-trans-10-a-1-hover.webp" alt="Card Image">
                            </a>
                            <div class="rbt-badge-wrapper rbt-content-top-left">
                                <div class="rbt-product-badge rbt-product-badge-bg-green border-rounded">NEW</div>
                                <div class="rbt-product-badge rbt-product-badge-bg-secondary-gradient border-rounded">
                                    Best Seller</div>
                            </div>
                            <div class="rbt-quick-btn-grp has-mixup-midlayer bottom-right--position">
                                <button class="rbt-search-btn rbt-quick-btn tooltips" type="button" data-bs-toggle="modal" data-bs-target="#quickviewModal" data-tooltip="Quick View" data-tooltip-position="left"><i class="fa-regular fa-magnifying-glass-plus"></i></button>
                                <button class="rbt-wishlisted-btn rbt-quick-btn tooltips" type="button" data-bs-toggle="modal" data-bs-target="#wishlistModal" data-tooltip="Add to wishlist" data-tooltip-position="left"><i class="fa-regular fa-heart"></i></button>
                            </div>
                        </div>
                        <div class="rbt-card-body">
                            <a href="shop-by-categories.html" class="rbt-card-subtitle rbt-card-catagories-text">Electronics &amp; Gadgets</a>
                            <h2 class="rbt-card-title"><a href="product-single-default.html">Ultra-Thin Modern Tech
                                    Quiet Noise Cancelling Laptop</a></h2>
                            <div class="rbt-card-rating">
                                <ul class="rbt-rating-icon-list">
                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                </ul>
                                <p class="rating-digit">(46)</p>
                                <div class="rbt-text-swiper-container rbt-arrow-vertical">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="rbt-text-group"> <span class="icon mr--4"><i class="fa-solid fa-bag-shopping"></i></span>
                                                90+ Sold Recently
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="rbt-text-group"> <span class="icon mr--4"><i class="fa-solid fa-truck"></i></span>
                                                Free shipping
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="rbt-text-group"> <span class="icon mr--4"><i class="fa-solid fa-rotate-left"></i></span>
                                                7 Days Return Plicy
                                            </div>
                                        </div>
                                    </div>
                                    <div class="rbt-verticle-arrow rbt-arrow-prev">
                                        <i class="fa-regular fa-chevron-up"></i>
                                    </div>
                                    <div class="rbt-verticle-arrow rbt-arrow-next">
                                        <i class="fa-regular fa-chevron-down"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="pricing-part">
                                <span class="price-text">$50.00 - $179.98</span>
                                <div class="rbt-badge rbt-badge-bg-green rbt-badge-border rbt-badge-small rbt-badge-rounded">
                                    9 in Stock</div>
                            </div>
                            <div class="prd-btn-grp">
                                <a class="rbt-btn rbt-btn-border rbt-btn-sm rbt-square-btn d-block has-left-icon rbt-cart-sidenav-activation" href="#"><i class="fa-regular fa-cart-shopping"></i> Add To Cart</a>
                                <a class="rbt-btn rbt-btn-border rbt-btn-sm rbt-square-btn d-block rbt-btn-transparent has-left-icon rbt-compare-btn-activation" href="#"><i class="fa-regular fa-file-plus-minus"></i>Add To Compare</a>
                            </div>
                        </div>
                    </div>
                    <div class="prd-details-area rbt-has-show-more">
                        <div class="wrapper rbt-has-show-more-inner-content">
                            <ul class="product-details-list">
                                <li>
                                    <span class="rbt-bold--text">Brand :</span>
                                    <span class="text">Sony Corporation Ltd</span>
                                </li>
                                <li>
                                    <span class="rbt-bold--text">Resolution :</span>
                                    <span class="text">3840×2160</span>
                                </li>
                                <li>
                                    <span class="rbt-bold--text">Release years :</span>
                                    <span class="text"> Jan 2022</span>
                                </li>
                                <li>
                                    <span class="rbt-bold--text">Motherboard :</span>
                                    <span class="text"> Samsung</span>
                                    <span class="text d-block"> ATX, ITX, microATX, Mini-ITX</span>
                                </li>
                            </ul>
                            <ul class="product-details-list shipment-details-list">
                                <li>
                                    <span class="icon"><i class="fa-sharp fa-regular fa-truck"></i></span>
                                    <div class="right-content">
                                        <span class="rbt-bold--text">Ships :</span>
                                        <span class="text">2–3 weeks Free Shipping</span>
                                        <br>
                                        <a href="#" class="shipment-quick-link rbt-btn-link">Get delivery dates</a>
                                    </div>
                                </li>
                                <li>
                                    <span class="icon"><i class="fa-regular fa-bag-shopping"></i></span>
                                    <div class="right-content">
                                        <span class="rbt-bold--text">Pickup :</span>
                                        <a href="#" class="shipment-quick-link rbt-btn-link">Check Availability</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="rbt-show-more-btn-area">
                            <button class="rbt-show-more-btn">Show More</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Card  -->


            <!-- Start Single Card  -->
            <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6 mt--24">
                <div class="rbt-card rbt-product-card has-hover-box-shadow">
                    <div class="inner rbt-scroll-trigger fade_in animation-order-1">
                        <div class="rbt-card-img rbt-has-hover-img rbt-bg-color-default">
                            <a href="product-single-default.html">
                                <img class="rbt-prd-img" src="assets/images/product-img/electronics/electronics-bg-trans-12-a-1.webp" alt="Card Image">
                                <img class="rbt-hover-img" src="assets/images/product-img/electronics/electronics-bg-trans-12-a-1-hover.webp" alt="Card Image">
                            </a>
                            <div class="rbt-badge-wrapper rbt-content-top-left">
                                <div class="rbt-product-badge rbt-product-badge-bg-secondary border-rounded">Sale</div>
                            </div>
                            <div class="rbt-discount-badge right--corner-style tooltips" data-tooltip="👁️ 16 People are Watching This Item" data-tooltip-position="bottom">
                                <span><i class="fa-regular fa-eye"></i>16</span>
                            </div>
                            <div class="rbt-quick-btn-grp has-mixup-midlayer bottom-right--position">
                                <button class="rbt-search-btn rbt-quick-btn tooltips" type="button" data-bs-toggle="modal" data-bs-target="#quickviewModal" data-tooltip="Quick View" data-tooltip-position="left"><i class="fa-regular fa-magnifying-glass-plus"></i></button>
                                <button class="rbt-wishlisted-btn rbt-quick-btn tooltips" type="button" data-bs-toggle="modal" data-bs-target="#wishlistModal" data-tooltip="Add to wishlist" data-tooltip-position="left"><i class="fa-regular fa-heart"></i></button>
                            </div>
                        </div>
                        <div class="rbt-card-body">
                            <a href="shop-by-categories.html" class="rbt-card-subtitle rbt-card-catagories-text">Photography &amp; Outdoor</a>
                            <h2 class="rbt-card-title"><a href="product-single-default.html">Keurig Polaroid 4K
                                    Waterproof Smart Action Camera</a></h2>
                            <div class="rbt-card-rating">
                                <ul class="rbt-rating-icon-list">
                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                </ul>
                                <p class="rating-digit">(46)</p>
                                <div class="rbt-text-group"> <span class="icon mr--4"><i class="fa-solid fa-truck"></i></span>
                                    Free shipping
                                </div>
                            </div>
                            <div class="pricing-part">
                                <del class="price-text">$295.00</del>
                                <span class="price-text">$179.98</span>
                                <span class="rbt-offer-badge">-30%</span>
                                <div class="rbt-badge rbt-badge-bg-green rbt-badge-border rbt-badge-small rbt-badge-rounded">
                                    12 in Stock</div>
                            </div>
                            <div class="prd-btn-grp">
                                <a class="rbt-btn rbt-btn-border rbt-btn-sm rbt-square-btn d-block has-left-icon rbt-cart-sidenav-activation" href="#"><i class="fa-regular fa-cart-shopping"></i> Add To Cart</a>
                                <a class="rbt-btn rbt-btn-border rbt-btn-sm rbt-square-btn d-block rbt-btn-transparent has-left-icon rbt-compare-btn-activation" href="#"><i class="fa-regular fa-file-plus-minus"></i>Add To Compare</a>
                            </div>
                        </div>
                    </div>
                    <div class="prd-details-area rbt-has-show-more">
                        <div class="wrapper rbt-has-show-more-inner-content">
                            <ul class="product-details-list">
                                <li>
                                    <span class="rbt-bold--text">Brand :</span>
                                    <span class="text">Sony Corporation Ltd</span>
                                </li>
                                <li>
                                    <span class="rbt-bold--text">Resolution :</span>
                                    <span class="text">3840×2160</span>
                                </li>
                                <li>
                                    <span class="rbt-bold--text">Release years :</span>
                                    <span class="text"> Jan 2022</span>
                                </li>
                                <li>
                                    <span class="rbt-bold--text">Motherboard :</span>
                                    <span class="text"> Samsung</span>
                                    <span class="text d-block"> ATX, ITX, microATX, Mini-ITX</span>
                                </li>
                            </ul>
                            <ul class="product-details-list shipment-details-list">
                                <li>
                                    <span class="icon"><i class="fa-sharp fa-regular fa-truck"></i></span>
                                    <div class="right-content">
                                        <span class="rbt-bold--text">Ships :</span>
                                        <span class="text">2–3 weeks Free Shipping</span>
                                        <br>
                                        <a href="#" class="shipment-quick-link rbt-btn-link">Get delivery dates</a>
                                    </div>
                                </li>
                                <li>
                                    <span class="icon"><i class="fa-regular fa-bag-shopping"></i></span>
                                    <div class="right-content">
                                        <span class="rbt-bold--text">Pickup :</span>
                                        <a href="#" class="shipment-quick-link rbt-btn-link">Check Availability</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="rbt-show-more-btn-area">
                            <button class="rbt-show-more-btn">Show More</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Card  -->

            <!-- Start Single Card  -->
            <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6 mt--24">
                <div class="rbt-card rbt-product-card has-hover-box-shadow">
                    <div class="inner rbt-scroll-trigger fade_in animation-order-3">
                        <div class="rbt-card-img rbt-has-hover-img rbt-bg-color-default">
                            <a href="product-single-default.html">
                                <img class="rbt-prd-img" src="assets/images/product-img/electronics/electronics-bg-trans-03-a-1.webp" alt="Card Image">
                                <img class="rbt-hover-img" src="assets/images/product-img/electronics/electronics-bg-trans-03-a-1-hover.webp" alt="Card Image">
                            </a>
                            <div class="rbt-discount-badge right--corner-style tooltips" data-tooltip="👁️ 16 People are Watching This Item" data-tooltip-position="bottom">
                                <span><i class="fa-regular fa-eye"></i>16</span>
                            </div>
                            <div class="rbt-quick-btn-grp has-mixup-midlayer bottom-right--position">
                                <button class="rbt-search-btn rbt-quick-btn tooltips" type="button" data-bs-toggle="modal" data-bs-target="#quickviewModal" data-tooltip="Quick View" data-tooltip-position="left"><i class="fa-regular fa-magnifying-glass-plus"></i></button>
                                <button class="rbt-wishlisted-btn rbt-quick-btn tooltips" type="button" data-bs-toggle="modal" data-bs-target="#wishlistModal" data-tooltip="Add to wishlist" data-tooltip-position="left"><i class="fa-regular fa-heart"></i></button>
                            </div>
                        </div>
                        <div class="rbt-card-body">
                            <a href="shop-by-categories.html" class="rbt-card-subtitle rbt-card-catagories-text">Watch &amp;
                                Music</a>
                            <h2 class="rbt-card-title"><a href="product-single-default.html">Cubitt Smart Watch CTS
                                    Waterproof Fitness Tracker Watch PRO</a></h2>
                            <div class="rbt-card-rating">
                                <ul class="rbt-rating-icon-list">
                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                </ul>
                                <p class="rating-digit">(46)</p>
                                <div class="rbt-text-group"> <span class="icon mr--4"><i class="fa-solid fa-truck"></i></span>
                                    Free shipping
                                </div>
                            </div>
                            <div class="pricing-part">
                                <span class="price-text">$99.98</span>
                                <div class="rbt-badge rbt-badge-bg-green rbt-badge-border rbt-badge-small rbt-badge-rounded">
                                    4 in Stock</div>
                            </div>
                            <div class="prd-btn-grp">
                                <button class="rbt-btn rbt-btn-border rbt-btn-sm rbt-square-btn d-block has-left-icon" type="button" data-bs-toggle="modal" data-bs-target="#popup-cartModal"><i class="fa-regular fa-cart-shopping"></i> Add To Cart</button>
                                <a class="rbt-btn rbt-btn-border rbt-btn-sm rbt-square-btn d-block rbt-btn-transparent has-left-icon rbt-compare-btn-activation" href="#"><i class="fa-regular fa-file-plus-minus"></i>Add To Compare</a>
                            </div>
                        </div>
                    </div>
                    <div class="prd-details-area rbt-has-show-more">
                        <div class="wrapper rbt-has-show-more-inner-content">
                            <ul class="product-details-list">
                                <li>
                                    <span class="rbt-bold--text">Brand :</span>
                                    <span class="text">Sony Corporation Ltd</span>
                                </li>
                                <li>
                                    <span class="rbt-bold--text">Resolution :</span>
                                    <span class="text">3840×2160</span>
                                </li>
                                <li>
                                    <span class="rbt-bold--text">Release years :</span>
                                    <span class="text"> Jan 2022</span>
                                </li>
                                <li>
                                    <span class="rbt-bold--text">Motherboard :</span>
                                    <span class="text"> Samsung</span>
                                    <span class="text d-block"> ATX, ITX, microATX, Mini-ITX</span>
                                </li>
                            </ul>
                            <ul class="product-details-list shipment-details-list">
                                <li>
                                    <span class="icon"><i class="fa-sharp fa-regular fa-truck"></i></span>
                                    <div class="right-content">
                                        <span class="rbt-bold--text">Ships :</span>
                                        <span class="text">2–3 weeks Free Shipping</span>
                                        <br>
                                        <a href="#" class="shipment-quick-link rbt-btn-link">Get delivery dates</a>
                                    </div>
                                </li>
                                <li>
                                    <span class="icon"><i class="fa-regular fa-bag-shopping"></i></span>
                                    <div class="right-content">
                                        <span class="rbt-bold--text">Pickup :</span>
                                        <a href="#" class="shipment-quick-link rbt-btn-link">Check Availability</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="rbt-show-more-btn-area">
                            <button class="rbt-show-more-btn">Show More</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Card  -->

            <!-- Start Single Card  -->
            <div class="col-xxl-3 col-xl-3 col-lg-12 col-md-6 col-sm-6 col-6 mt--24">
                <div class="rbt-card rbt-beta-shop-card rbt-bg-color-primary">
                    <div class="inner rbt-scroll-trigger fade_in animation-order-4">
                        <div class="rbt-card-img rbt-bg-color-default">
                            <a href="#"><img src="assets/images/product-img/beta-shop/shop-beta-img-01.webp" alt="Card Image"></a>
                        </div>
                        <div class="rbt-card-content">
                            <h2 class="rbt-card-title h5"><a href="#">Beats Brand is now on <br class="d-none d-lg-block"> Unimart Platform</a>
                            </h2>
                            <p class="b4 desc rbt-text-medium">Shop Beats Headphones &amp; Earbuds</p>
                            <a class="rbt-btn rbt-btn-white rbt-btn-sm has-left-icon" href="#">Shop Beats <i class="fa-solid fa-arrow-up-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Card  -->

        </div>
        <!-- End Card Area -->
    </div>
</div>
<!-- End Product Single Component -->

        </div>
    </div>